<div class="d-flex justify-content-center h-100 w-100 pt-3">
  <div class="d-flex flex-row justify-content-center h-100" style="width: 75%">
    <div class="flex-grow-1 h-100 mx-3">
      <div
        class="card-effect mx-3 pb-3"
        *ngIf="this.user.user.user_role === 'CareerExpert'">
        <div class="d-flex w-100">
          <div class="d-flex flex-row w-100 px-3 pt-3 pb-1">
            <img src="assets/images/avatar.png" alt="placeholder" />
            <mat-form-field class="w-75 ml-3">
              <input
                matInput
                class="ml-3"
                style="width: 90%"
                placeholder="What's on your mind?"
                readonly
                (click)="createPost()" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div
        *ngFor="let post of this.posts; index as i"
        class="card-effect d-flex flex-column mx-3 p-3 mt-2">
        <div class="d-flex flex-row align-items-center ml-2 my-2">
          <div>
            <img
              src="assets/images/avatar.png"
              alt="placeholder"
              style="height: 50px; width: 50px" />
          </div>
          <div class="d-flex flex-column ml-4">
            <div>
              <span style="font-size: 15px" class="font-weight-bold"
                >{{ post.user.first_name }} {{ post.user.last_name }}</span
              >
            </div>
            <div>
              <span style="font-size: 12px">Career Expert</span>
            </div>
            <div>
              <span style="font-size: 10px">{{
                post.post_date | date : "medium"
              }}</span>
            </div>
          </div>
        </div>
        <mat-divider class="w-100 my-2"></mat-divider>
        <div class="mt-2">
          <span style="font-size: 25px" class="font-weight-bold">{{
            post.title
          }}</span>
        </div>
        <div class="mb-2">
          <span style="font-size: 12px; white-space: pre-line">{{
            post.content
          }}</span>
        </div>
        <mat-divider class="w-100 mt-2 mb-1"></mat-divider>

        <div class="mt-1">
          <button mat-icon-button (click)="toggleComment(i)">
            <mat-icon
              matBadge="{{ post.comments.length }}"
              matBadgeSize="small"
              [matBadgeHidden]="post.comments.length === 0"
              >comment</mat-icon
            >
          </button>
        </div>
        <div
          class="d-flex flex-row align-items-center p-2 mt-1"
          *ngIf="comment_index == i"
          style="background-color: #f6f6f6; border-radius: 12px">
          <div>
            <img
              src="assets/images/avatar.png"
              alt="placeholder"
              style="height: 30px; width: 30px" />
          </div>
          <mat-form-field
            class="w-100 ml-3 mb-1"
            style="height: 45px; font-size: 12px; margin-bottom: -1.25em">
            <input
              type="tel"
              matInput
              placeholder="Write a Comment"
              [(ngModel)]="post.new_comment"
              (keyup.enter)="addComment(post)" />
          </mat-form-field>
        </div>
        <div
          *ngFor="let comment of post.comments; index as j"
          class="d-flex flex-column p-2 mt-2"
          style="background-color: #f6f6f6; border-radius: 12px">
          <div class="d-flex flex-row align-items-center">
            <div>
              <img
                src="assets/images/avatar.png"
                alt="placeholder"
                style="height: 30px; width: 30px" />
            </div>
            <div class="d-flex flex-column ml-2">
              <div style="font-size: 11px" class="font-weight-bold">
                {{ comment.user.first_name }} {{ comment.user.last_name }}
              </div>
              <div style="font-size: 9px">
                {{ comment.commented_at | date : "medium" }}
              </div>
            </div>
          </div>
          <div class="m-1">
            <span style="font-size: 12px; text-align: justify">{{
              comment.content
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
