<div class="mt-2 d-flex justify-content-center">
  <div
    class="w-75 card-effect"
    style="
      height: 85%;
      position: absolute;
      min-height: 600px;
      overflow-y: scroll;
    ">
    <div class="my-2 ml-4">
      <button mat-raised-button color="primary">Show Filter Options</button>
    </div>
    <div class="mx-4 my-2 d-flex flex-row">
      <div class="d-flex flex-column">
        <mat-label class="font-weight-bold">Added</mat-label>
        <mat-radio-group>
          <mat-radio-button value="1">Today</mat-radio-button>
          <mat-radio-button value="2" class="mx-2">Last Week</mat-radio-button>
          <mat-radio-button value="2">Last Month</mat-radio-button>
          <mat-radio-button value="2" class="mx-2">Any</mat-radio-button>
        </mat-radio-group>
        <mat-label class="font-weight-bold">Setting</mat-label>
        <mat-radio-group>
          <mat-radio-button value="1">On-site</mat-radio-button>
          <mat-radio-button value="2" class="mx-2">Hybrid</mat-radio-button>
          <mat-radio-button value="2">Remote</mat-radio-button>
        </mat-radio-group>
        <mat-label class="font-weight-bold mt-1">Status</mat-label>
        <mat-radio-group>
          <mat-radio-button value="1">Open</mat-radio-button>
          <mat-radio-button value="2" class="mx-2">Closed</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex flex-column mx-5" style="width: 250px">
        <mat-label class="font-weight-bold">Ad Type</mat-label>
        <mat-form-field>
          <mat-select>
            <mat-option> Any </mat-option>
            <mat-option> Internship </mat-option>
            <mat-option> Part-Time Job </mat-option
            ><mat-option> Job </mat-option>
            <mat-option> Contract </mat-option>
            <mat-option> Project Based </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label class="font-weight-bold mt-2">Domain</mat-label>
        <mat-form-field>
          <mat-select>
            <mat-option> Any </mat-option>
            <mat-option> Software Development </mat-option>
            <mat-option> Academy </mat-option><mat-option> Job </mat-option>
            <mat-option> Finance </mat-option>
            <mat-option> Human Resources </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column" style="width: 250px">
        <mat-label class="font-weight-bold">Pay Range</mat-label>
        <div class="d-flex flex-row">
          <mat-form-field style="width: 120px">
            <input matInput placeholder="Min" />
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
          <mat-form-field style="width: 120px" class="ml-2">
            <input matInput placeholder="Max" />
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
        <mat-label class="font-weight-bold mt-2">Location</mat-label>
        <mat-form-field>
          <mat-icon matPrefix>location_on</mat-icon>
          <input matInput placeholder="Ankara, Turkey" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column ml-3"></div>
    </div>
    <mat-tab-group #tabGroup>
      <mat-tab label="Ads For You" style="min-height: 450px">
        <div
          class="w-100 d-flex flex-row align-items-center"
          style="height: 150px; overflow: hidden">
          <div class="h-100" style="width: 125px !important">
            <div class="p-3 d-flex flex-column justify-content-center">
              <img src="assets/images/company.png" alt="placeholder" />
            </div>
            <div class="text-center">
              <span style="font-size: 10px; color: green">Open</span>
            </div>
          </div>
          <div class="h-100" style="width: 175px">
            <div class="p-3 d-flex flex-column">
              <div class="d-flex flex-column">
                <span style="font-size: 15px" class="font-weight-bold"
                  >UI/UX Designer</span
                >
                <div>
                  <span style="font-size: 12px" class="mr-2">Google</span>
                  <span style="font-size: 12px; color: darkgray"
                    >California, USA</span
                  >
                </div>

                <div>
                  <span style="font-size: 11px"
                    ><strong>$15000-20000</strong></span
                  >
                  <span style="font-size: 12px; color: darkgray">/month</span>
                </div>
                <div style="font-size: 12px">
                  <span>Software Development</span>
                </div>
                <div class="d-flex flex-row" style="font-size: 11px">
                  <span>Job Ad</span>
                  <span class="mx-1">&#183;</span>
                  <span>Remote</span>
                </div>
                <div>
                  <span style="font-size: 10px; color: darkgray"
                    >25 minutes ago</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: 175px">
            <div
              class="d-flex flex-column justify-content-center align-items-center h-100">
              <div class="bg-info py-1 px-2" style="border-radius: 10px">
                <span class="text-light">Figma</span>
              </div>
              <div class="bg-danger py-1 px-2 mt-1" style="border-radius: 10px">
                <span class="text-light">Photoshop</span>
              </div>
              <div
                class="bg-warning py-1 px-2 mt-1"
                style="border-radius: 10px">
                <span class="text-light">Angular</span>
              </div>
              <div
                class="bg-primary py-1 px-2 mt-1"
                style="border-radius: 10px">
                <span class="text-light">JavaScript</span>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: calc(100% - 625px)">
            <div class="p-3 d-flex flex-column">
              <div>
                <span style="text-decoration: underline"
                  ><b>Decription</b></span
                >
              </div>
              <div>
                <p class="max-lines">
                  orem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic types orem Ipsum is simply dummy
                  text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it
                  to make a type specimen book. It has survived not only
                </p>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: 150px">
            <div class="p-3 d-flex flex-column align-items-center">
              <button mat-raised-button color="primary" class="mt-2">
                View Ad Details
              </button>
              <div
                class="d-flex flex-column justify-content-center align-items-center mt-3">
                <span style="font-size: 11px">Application count: 82</span>
                <span style="font-size: 11px">View count: 82</span>
              </div>
            </div>
          </div>
        </div>
        <mat-divider class="w-100"></mat-divider>
        <div
          class="w-100 d-flex flex-row align-items-center"
          style="height: 150px; overflow: hidden">
          <div class="h-100" style="width: 125px !important">
            <div class="p-3 d-flex flex-column justify-content-center">
              <img src="assets/images/company.png" alt="placeholder" />
            </div>
            <div class="text-center">
              <span style="font-size: 10px; color: green">Open</span>
            </div>
          </div>
          <div class="h-100" style="width: 175px">
            <div class="p-3 d-flex flex-column">
              <div class="d-flex flex-column">
                <span style="font-size: 15px" class="font-weight-bold"
                  >UI/UX Designer</span
                >
                <div>
                  <span style="font-size: 12px" class="mr-2">Google</span>
                  <span style="font-size: 12px; color: darkgray"
                    >California, USA</span
                  >
                </div>

                <div>
                  <span style="font-size: 11px"
                    ><strong>$15000-20000</strong></span
                  >
                  <span style="font-size: 12px; color: darkgray">/month</span>
                </div>
                <div style="font-size: 12px">
                  <span>Software Development</span>
                </div>
                <div class="d-flex flex-row" style="font-size: 11px">
                  <span>Job Ad</span>
                  <span class="mx-1">&#183;</span>
                  <span>Remote</span>
                </div>
                <div>
                  <span style="font-size: 10px; color: darkgray"
                    >25 minutes ago</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: 175px">
            <div
              class="d-flex flex-column justify-content-center align-items-center h-100">
              <div class="bg-info py-1 px-2" style="border-radius: 10px">
                <span class="text-light">Figma</span>
              </div>
              <div class="bg-danger py-1 px-2 mt-1" style="border-radius: 10px">
                <span class="text-light">Photoshop</span>
              </div>
              <div
                class="bg-warning py-1 px-2 mt-1"
                style="border-radius: 10px">
                <span class="text-light">Angular</span>
              </div>
              <div
                class="bg-primary py-1 px-2 mt-1"
                style="border-radius: 10px">
                <span class="text-light">JavaScript</span>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: calc(100% - 625px)">
            <div class="p-3 d-flex flex-column">
              <div>
                <span style="text-decoration: underline"
                  ><b>Decription</b></span
                >
              </div>
              <div>
                <p class="max-lines">
                  orem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic types orem Ipsum is simply dummy
                  text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it
                  to make a type specimen book. It has survived not only
                </p>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: 150px">
            <div class="p-3 d-flex flex-column align-items-center">
              <button mat-raised-button color="primary" class="mt-2">
                View Ad Details
              </button>
              <div
                class="d-flex flex-column justify-content-center align-items-center mt-3">
                <span style="font-size: 11px">Application count: 82</span>
                <span style="font-size: 11px">View count: 82</span>
              </div>
            </div>
          </div>
        </div>
        <mat-divider class="w-100"></mat-divider>
        <div
          class="w-100 d-flex flex-row align-items-center"
          style="height: 150px; overflow: hidden">
          <div class="h-100" style="width: 125px !important">
            <div class="p-3 d-flex flex-column justify-content-center">
              <img src="assets/images/company.png" alt="placeholder" />
            </div>
            <div class="text-center">
              <span style="font-size: 10px; color: green">Open</span>
            </div>
          </div>
          <div class="h-100" style="width: 175px">
            <div class="p-3 d-flex flex-column">
              <div class="d-flex flex-column">
                <span style="font-size: 15px" class="font-weight-bold"
                  >UI/UX Designer</span
                >
                <div>
                  <span style="font-size: 12px" class="mr-2">Google</span>
                  <span style="font-size: 12px; color: darkgray"
                    >California, USA</span
                  >
                </div>

                <div>
                  <span style="font-size: 11px"
                    ><strong>$15000-20000</strong></span
                  >
                  <span style="font-size: 12px; color: darkgray">/month</span>
                </div>
                <div style="font-size: 12px">
                  <span>Software Development</span>
                </div>
                <div class="d-flex flex-row" style="font-size: 11px">
                  <span>Job Ad</span>
                  <span class="mx-1">&#183;</span>
                  <span>Remote</span>
                </div>
                <div>
                  <span style="font-size: 10px; color: darkgray"
                    >25 minutes ago</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: 175px">
            <div
              class="d-flex flex-column justify-content-center align-items-center h-100">
              <div class="bg-info py-1 px-2" style="border-radius: 10px">
                <span class="text-light">Figma</span>
              </div>
              <div class="bg-danger py-1 px-2 mt-1" style="border-radius: 10px">
                <span class="text-light">Photoshop</span>
              </div>
              <div
                class="bg-warning py-1 px-2 mt-1"
                style="border-radius: 10px">
                <span class="text-light">Angular</span>
              </div>
              <div
                class="bg-primary py-1 px-2 mt-1"
                style="border-radius: 10px">
                <span class="text-light">JavaScript</span>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: calc(100% - 625px)">
            <div class="p-3 d-flex flex-column">
              <div>
                <span style="text-decoration: underline"
                  ><b>Decription</b></span
                >
              </div>
              <div>
                <p class="max-lines">
                  orem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic types orem Ipsum is simply dummy
                  text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it
                  to make a type specimen book. It has survived not only
                </p>
              </div>
            </div>
          </div>
          <div class="h-100" style="width: 150px">
            <div class="p-3 d-flex flex-column align-items-center">
              <button mat-raised-button color="primary" class="mt-2">
                View Ad Details
              </button>
              <div
                class="d-flex flex-column justify-content-center align-items-center mt-3">
                <span style="font-size: 11px">Application count: 82</span>
                <span style="font-size: 11px">View count: 82</span>
              </div>
            </div>
          </div>
        </div>
        <mat-divider class="w-100"></mat-divider>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <button mat-raised-button color="primary" class="mt-2">1</button>
          <button mat-raised-button class="mt-2 mx-1">2</button>
          <button mat-raised-button class="mt-2">3</button>
          <button mat-raised-button class="mt-2 mx-1">4</button>
          <span class="mx-1">&#183;</span>
          <span class="mx-1">&#183;</span>
          <span class="mx-1">&#183;</span>
          <button mat-raised-button class="mt-2 mx-1">55</button>
        </div>
      </mat-tab>
      <mat-tab label="Applied Ads"></mat-tab>
      <mat-tab label="All Ads"></mat-tab>
    </mat-tab-group>
  </div>
</div>
