<div class="mt-2 d-flex justify-content-center">
  <div
    class="w-75 card-effect"
    style="
      height: 85%;
      position: absolute;
      min-height: 600px;
      overflow-y: scroll;
    ">
    <div
      class="mt-4 mb-2 ml-4 mr-4"
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      ">
      <button
        mat-raised-button
        color="primary"
        (click)="filterChange()"
        *ngIf="!showFilters">
        Show Filter Options
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="filterChange()"
        *ngIf="showFilters">
        Hide Filter Options
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="createAd()"
        *ngIf="user_role === 'Recruiter'">
        Create New Ad
      </button>
    </div>
    <div class="mx-4 my-2 d-flex flex-row" *ngIf="this.showFilters">
      <div class="d-flex flex-column">
        <mat-label class="font-weight-bold">Setting</mat-label>
        <mat-radio-group [(ngModel)]="jobAdFilter.setting">
          <mat-radio-button value="On-site">On-site</mat-radio-button>
          <mat-radio-button value="Hybrid" class="mx-2"
            >Hybrid</mat-radio-button
          >
          <mat-radio-button value="Remote">Remote</mat-radio-button>
        </mat-radio-group>
        <mat-label class="font-weight-bold mt-1">Status</mat-label>
        <mat-radio-group [(ngModel)]="is_open">
          <mat-radio-button value="Open">Open</mat-radio-button>
          <mat-radio-button value="Closed" class="mx-2"
            >Closed</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="d-flex flex-column mx-5" style="width: 250px">
        <mat-label class="font-weight-bold">Ad Type</mat-label>
        <mat-form-field>
          <mat-select [(ngModel)]="jobAdFilter.type">
            <mat-option value="Any" selected> Any </mat-option>
            <mat-option value="Internship"> Internship </mat-option>
            <mat-option value="Part-Time Job"> Part-Time Job </mat-option
            ><mat-option value="Job"> Job </mat-option>
            <mat-option value="Contract"> Contract </mat-option>
            <mat-option value="Project-based"> Project-based </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label class="font-weight-bold mt-2">Domain</mat-label>
        <mat-form-field>
          <input matInput placeholder="" [(ngModel)]="jobAdFilter.domain" />
        </mat-form-field>
        <mat-label class="font-weight-bold mt-2">Skills</mat-label>
        <mat-form-field>
          <input matInput placeholder="" [(ngModel)]="this.skills" />
        </mat-form-field>
        <!-- <mat-label class="font-weight-bold mt-2">Degrees</mat-label>
        <mat-form-field>
          <input matInput placeholder="" [(ngModel)]="this.degrees" />
        </mat-form-field> -->
      </div>
      <div class="d-flex flex-column" style="width: 250px">
        <mat-label class="font-weight-bold">Pay Range</mat-label>
        <div class="d-flex flex-row">
          <mat-form-field style="width: 120px">
            <input
              matInput
              placeholder="Min"
              [(ngModel)]="jobAdFilter.pay_range_min" />
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
          <mat-form-field style="width: 120px" class="ml-2">
            <input
              matInput
              placeholder="Max"
              [(ngModel)]="jobAdFilter.pay_range_max" />
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
        <mat-label class="font-weight-bold mt-2">Location</mat-label>
        <mat-form-field>
          <mat-icon matPrefix>location_on</mat-icon>
          <input matInput placeholder="" [(ngModel)]="jobAdFilter.location" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column ml-3"></div>
      <!-- add a filter button here -->
      <div class="d-flex flex-column ml-3">
        <button
          mat-raised-button
          color="primary"
          (click)="filterAds()"
          style="height: 50px; width: 100px">
          Filter
        </button>
      </div>
    </div>
    <mat-tab-group #tabGroup>
      <mat-tab label="All Ads" style="min-height: 450px">
        <div *ngFor="let afy of this.ads_for_you; index as i">
          <div
            class="w-100 d-flex flex-row align-items-center"
            style="height: 150px; overflow: hidden">
            <div class="h-100" style="width: 125px !important">
              <div class="p-3 d-flex flex-column justify-content-center">
                <img src="assets/images/company.png" alt="placeholder" />
              </div>
              <div class="text-center">
                <span style="font-size: 10px; color: green" *ngIf="afy.is_open"
                  >Open</span
                >
                <span style="font-size: 10px; color: red" *ngIf="!afy.is_open"
                  >Closed</span
                >
              </div>
            </div>
            <div class="h-100" style="width: 175px">
              <div class="p-3 d-flex flex-column">
                <div class="d-flex flex-column">
                  <span style="font-size: 15px" class="font-weight-bold">{{
                    afy.title
                  }}</span>
                  <div>
                    <span style="font-size: 12px" class="mr-2">{{
                      afy.organization
                    }}</span>
                    <span style="font-size: 12px; color: darkgray">{{
                      afy.location
                    }}</span>
                  </div>

                  <div>
                    <span style="font-size: 11px"
                      ><strong
                        >${{ afy.pay_range_min }}-{{
                          afy.pay_range_max
                        }}</strong
                      ></span
                    >
                    <span style="font-size: 12px; color: darkgray">/year</span>
                  </div>
                  <div style="font-size: 12px">
                    <span>{{ afy.domain }}</span>
                  </div>
                  <div class="d-flex flex-row" style="font-size: 11px">
                    <span>{{ afy.type }}</span>
                    <span class="mx-1">&#183;</span>
                    <span>{{ afy.setting }}</span>
                  </div>
                  <!-- <div>
                    <span style="font-size: 10px; color: darkgray"
                      >{{ afy.timedelta }} days ago</span
                    >
                  </div> -->
                </div>
              </div>
            </div>
            <div class="h-100" style="width: 175px">
              <div
                class="d-flex flex-column justify-content-center align-items-center h-100">
                <div
                  *ngFor="let skill of afy.skills; index as j; first as isFirst"
                  class="py-1 px-2"
                  style="border-radius: 10px"
                  [ngClass]="{ 'mt-1': !isFirst }"
                  [style.background-color]="
                    colors[(5 - j) % afy?.skills.length]
                  ">
                  <span class="text-light">{{ skill.skill_name }}</span>
                </div>
              </div>
            </div>
            <div class="h-100" style="width: calc(100% - 625px)">
              <div class="p-3 d-flex flex-column">
                <div>
                  <span style="text-decoration: underline"
                    ><b>Description</b></span
                  >
                </div>
                <div>
                  <p class="max-lines">
                    {{ afy.description }}
                  </p>
                </div>
              </div>
            </div>
            <div class="h-100" style="width: 150px">
              <div class="p-3 d-flex flex-column align-items-center">
                <button
                  mat-raised-button
                  color="primary"
                  class="mt-2"
                  (click)="viewAdDetails(afy)">
                  View Ad Details
                </button>
                <div
                  class="d-flex flex-column justify-content-center align-items-center mt-3">
                  <span style="font-size: 11px"
                    >Application count: {{ afy.application_count }}</span
                  >
                  <span style="font-size: 11px"
                    >View count: {{ afy.view_count }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <mat-divider class="w-100"></mat-divider>
        </div>
      </mat-tab>
      <mat-tab label="Applied Ads">
        <div *ngFor="let appad of this.applied_ads; index as i">
          <div
            class="w-100 d-flex flex-row align-items-center"
            style="height: 150px; overflow: hidden">
            <div class="h-100" style="width: 125px !important">
              <div class="p-3 d-flex flex-column justify-content-center">
                <img src="assets/images/company.png" alt="placeholder" />
              </div>
              <div class="text-center">
                <span
                  style="font-size: 10px; color: green"
                  *ngIf="appad.is_open"
                  >Open</span
                >
                <span style="font-size: 10px; color: red" *ngIf="!appad.is_open"
                  >Closed</span
                >
              </div>
            </div>
            <div class="h-100" style="width: 175px">
              <div class="p-3 d-flex flex-column">
                <div class="d-flex flex-column">
                  <span style="font-size: 15px" class="font-weight-bold">{{
                    appad.title
                  }}</span>
                  <div>
                    <span style="font-size: 12px" class="mr-2">{{
                      appad.organization
                    }}</span>
                    <span style="font-size: 12px; color: darkgray">{{
                      appad.location
                    }}</span>
                  </div>

                  <div>
                    <span style="font-size: 11px"
                      ><strong
                        >${{ appad.pay_range_min }}-{{
                          appad.pay_range_max
                        }}</strong
                      ></span
                    >
                    <span style="font-size: 12px; color: darkgray">/year</span>
                  </div>
                  <div style="font-size: 12px">
                    <span>{{ appad.domain }}</span>
                  </div>
                  <div class="d-flex flex-row" style="font-size: 11px">
                    <span>{{ appad.type }}</span>
                    <span class="mx-1">&#183;</span>
                    <span>{{ appad.setting }}</span>
                  </div>
                  <!-- <div>
                    <span style="font-size: 10px; color: darkgray"
                      >{{ appad.timedelta }} days ago</span
                    >
                  </div> -->
                </div>
              </div>
            </div>
            <div class="h-100" style="width: 175px">
              <div
                class="d-flex flex-column justify-content-center align-items-center h-100">
                <div
                  *ngFor="
                    let skill of appad.skills;
                    index as j;
                    first as isFirst
                  "
                  class="py-1 px-2"
                  style="border-radius: 10px"
                  [ngClass]="{ 'mt-1': !isFirst }"
                  [style.background-color]="
                    colors[(5 - j) % appad?.skills.length]
                  ">
                  <span class="text-light">{{ skill.skill_name }}</span>
                </div>
              </div>
            </div>
            <div class="h-100" style="width: calc(100% - 625px)">
              <div class="p-3 d-flex flex-column">
                <div>
                  <span style="text-decoration: underline"
                    ><b>Description</b></span
                  >
                </div>
                <div>
                  <p class="max-lines">
                    {{ appad.description }}
                  </p>
                </div>
              </div>
            </div>
            <div class="h-100" style="width: 150px">
              <div class="p-3 d-flex flex-column align-items-center">
                <button
                  mat-raised-button
                  color="primary"
                  class="mt-2"
                  (click)="viewAdDetails(appad)">
                  View Ad Details
                </button>
                <div
                  class="d-flex flex-column justify-content-center align-items-center mt-3">
                  <span style="font-size: 11px"
                    >Application count: {{ appad.application_count }}</span
                  >
                  <span style="font-size: 11px"
                    >View count: {{ appad.view_count }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <mat-divider class="w-100"></mat-divider>
        </div>
      </mat-tab>
      <div>
        <mat-divider class="w-100"></mat-divider>
      </div>
      <mat-tab label="Your Ads" *ngIf="user_role == 'Recruiter'">
        <div *ngFor="let yads of this.your_ads; index as i">
          <div
            class="w-100 d-flex flex-row align-items-center"
            style="height: 150px; overflow: hidden">
            <div class="h-100" style="width: 125px !important">
              <div class="p-3 d-flex flex-column justify-content-center">
                <img src="assets/images/company.png" alt="placeholder" />
              </div>
              <div class="text-center">
                <span style="font-size: 10px; color: green" *ngIf="yads.is_open"
                  >Open</span
                >
                <span style="font-size: 10px; color: red" *ngIf="!yads.is_open"
                  >Closed</span
                >
              </div>
            </div>
            <div class="h-100" style="width: 175px">
              <div class="p-3 d-flex flex-column">
                <div class="d-flex flex-column">
                  <span style="font-size: 15px" class="font-weight-bold">{{
                    yads.title
                  }}</span>
                  <div>
                    <span style="font-size: 12px" class="mr-2">{{
                      yads.organization
                    }}</span>
                    <span style="font-size: 12px; color: darkgray">{{
                      yads.location
                    }}</span>
                  </div>

                  <div>
                    <span style="font-size: 11px"
                      ><strong
                        >${{ yads.pay_range_min }}-{{
                          yads.pay_range_max
                        }}</strong
                      ></span
                    >
                    <span style="font-size: 12px; color: darkgray">/year</span>
                  </div>
                  <div style="font-size: 12px">
                    <span>{{ yads.domain }}</span>
                  </div>
                  <div class="d-flex flex-row" style="font-size: 11px">
                    <span>{{ yads.type }}</span>
                    <span class="mx-1">&#183;</span>
                    <span>{{ yads.setting }}</span>
                  </div>
                  <!-- <div>
                    <span style="font-size: 10px; color: darkgray"
                      >{{ yads.timedelta }} days ago</span
                    >
                  </div> -->
                </div>
              </div>
            </div>
            <div class="h-100" style="width: 175px">
              <div
                class="d-flex flex-column justify-content-center align-items-center h-100">
                <div
                  *ngFor="
                    let skill of yads.skills;
                    index as j;
                    first as isFirst
                  "
                  class="py-1 px-2"
                  style="border-radius: 10px"
                  [ngClass]="{ 'mt-1': !isFirst }"
                  [style.background-color]="
                    colors[(5 - j) % yads?.skills.length]
                  ">
                  <span class="text-light">{{ skill.skill_name }}</span>
                </div>
              </div>
            </div>
            <div class="h-100" style="width: calc(100% - 625px)">
              <div class="p-3 d-flex flex-column">
                <div>
                  <span style="text-decoration: underline"
                    ><b>Description</b></span
                  >
                </div>
                <div>
                  <p class="max-lines">
                    {{ yads.description }}
                  </p>
                </div>
              </div>
            </div>
            <div class="h-100" style="width: 150px">
              <div class="p-3 d-flex flex-column align-items-center">
                <button
                  mat-raised-button
                  color="primary"
                  class="mt-2"
                  (click)="viewAdDetails(yads)">
                  View Ad Details
                </button>
                <div
                  class="d-flex flex-column justify-content-center align-items-center mt-3">
                  <span style="font-size: 11px"
                    >Application count: {{ yads.application_count }}</span
                  >
                  <span style="font-size: 11px"
                    >View count: {{ yads.view_count }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <mat-divider class="w-100"></mat-divider>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
