<div id="profile-container">
  <div id="top-card">
    <div id="top-icon"><mat-icon>account_circle</mat-icon></div>
    <div id="top-inner">
      <div id="top-inner-1">
        <mat-icon>verified</mat-icon>
        <div id="top-inner-1-1">
          <p>Verified Master Skill: <b>Python</b></p>
          <p>Rating: <b>4/5</b></p>
        </div>
      </div>
      <div id="top-inner-2">
        <h1>Berk Çakar</h1>
        <div id="top-inner-2-buttons">
          <button mat-button><mat-icon>share</mat-icon></button>
          <button mat-button><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>

