<div id="profile-container">
  <div id="top-card">
    <div id="top-icon"><mat-icon>account_circle</mat-icon></div>
    <div id="top-inner">
      <div id="top-inner-1">
        <mat-icon>verified</mat-icon>
        <div id="top-inner-1-1">
          <p>Verified Master Skill: <b>Python</b></p>
          <p>Rating: <b>4/5</b></p>
        </div>
      </div>
      <div id="top-inner-2">
        <h1>Berk Çakar</h1>
        <div id="top-inner-2-buttons">
          <button mat-button><mat-icon>share</mat-icon></button>
          <button mat-button><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-container">
    <div id="bottom-left">
      <button mat-button>Information</button>
      <button mat-button>Biography</button>
      <button mat-button>Work Experience</button>
      <button mat-button>Education Experience</button>
      <button mat-button>Voluntary Experience</button>
      <button mat-button>Projects</button>
      <button mat-button>Certifications</button>
      <button mat-button>Awards</button>
      <button mat-button>Test Scores</button>
      <button mat-button>Publications</button>
      <button mat-button>Languages</button>
      <button mat-button>Skills</button>
      <button mat-button>Resume</button>
    </div>
    <div id="bottom-right">
      <div id="basic-information-card">
        <div id="basic-information-top">
          <div id="basic-information-top-inner-1">
            <mat-icon>account_circle</mat-icon>
            <div>
              <h2>Basic Information</h2>
              <p>Update profile information</p>
            </div>
          </div>
          <button mat-button><mat-icon>edit</mat-icon></button>
        </div>
        <div id="basic-information-bottom">
          <div id="basic-information-left">
            <div>
              <p>Email Address</p>
              <p>email@address.com</p>
            </div>
            <div>
              <p>Phone Number</p>
              <p>+90 919 191 91 91</p>
            </div>
            <div>
              <p>Country</p>
              <p>Turkiye</p>
            </div>
          </div>
          <div id="basic-information-right">
            <div>
              <p>Website</p>
              <p>website.com</p>
            </div>
            <div>
              <p>Address</p>
              <p>address address address</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

