<div class=" d-flex justify-content-center align-items-center w-100 h-100" style="background-color: #EBF5FF;">        
    <div class="w-50 h-75" style="width: 45%; height: 60%; min-width: 700px">
      <mat-card>
        <mat-card-content class="w-100 h-100 d-flex justify-content-center align-items-center">
          <form>
            <div class="d-flex flex-row w-100 d-block m-auto text-center">
              <!--<img src="../assets/icons/logo.svg" alt="logo" class="logo" /> -->
            </div>
            <p class="h1 font-weight-bold mt-5 text-center">Forgot Password</p>
            <div class="d-flex justify-content-center align-items-center"><img src="../assets/images/lock.png" alt=""></div>
            <mat-form-field class="w-100 mt-4">
                <input matInput placeholder="Email">
            </mat-form-field>
            <button
            (click)="recover()"
            mat-raised-button
            color="primary"
            class="w-100 mt-2"
            type="submit"
            >
            Recover Password
            </button>
            <div class="d-flex justify-content-center align-items-center">
            <span class="mt-4">Remember Now?
                <a class="link" (click)="goLogin()">Login</a></span>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
</div>
