<div class="container" style="width: 700px; height: 450px">
  <div class="h-100 v-100 d-flex flex-column">
    <div class="w-100 text-center">
      <span class="font-weight-bold" style="font-size: 20pt"
        >New Test Score</span
      >
    </div>
    <div class="d-flex flex-row mt-2">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="title"
        ngDefaultControl>
        <mat-label>Test Name</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.test_name" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="grade"
        ngDefaultControl>
        <mat-label>Test Score</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.score" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <div class="h-100">
        <mat-form-field
          appearance="standard"
          style="width: 100%"
          name="start_date"
          ngDefaultControl>
          <mat-label>Test Date</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="data.test_date"
            (click)="picker.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="description"
        ngDefaultControl>
        <mat-label>Description</mat-label>
        <textarea
          class="w-100"
          matInput
          cdkTextareaAutosize
          [(ngModel)]="data.description"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="6"
          cdkAutosizeMaxRows="6"></textarea>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <button mat-raised-button class="mr-2 btn-danger" matDialogClose>
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="addTestScore()">
        Add
      </button>
    </div>
  </div>
</div>
