<mat-toolbar>
  <mat-toolbar-row
    style="background: white; height: 60px"
    class="d-flex flex-row align-items-center">
    <img
      src="../assets/icons/logo.svg"
      class="mt-2 mb-2"
      style="height: 60px" />
    <p class="h4 font-weight-bold mt-2 mb-2" style="color: #0143ad">
      CareerBridge
    </p>
    <!-- <mat-form-field
      class="w-25 ml-3"
      style="height: 45px; font-size: 12px; margin-bottom: -1.25em">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="tel" matInput placeholder="Elon Musk" />
    </mat-form-field> -->
    <span class="toolbar-item-spacer"></span>

    <button
      mat-stroked-button
      routerLink="/feed"
      routerLinkActive="active-button">
      <mat-icon>dashboard</mat-icon>
      <span>Feed</span>
    </button>
    <button
      mat-stroked-button
      class="mx-1"
      routerLink="/ads"
      routerLinkActive="active-button">
      <mat-icon>business_center</mat-icon>
      <span>Browse Ads</span>
    </button>
    <button
      mat-stroked-button
      class="mx-1"
      *ngIf="
        user.user.user_role === 'Admin' ||
        user.user.user_role === 'Skill Assessor'
      "
      routerLink="/all-users"
      routerLinkActive="active-button">
      <mat-icon matBadgeColor="warn">person_search</mat-icon>
      <span>All Users</span>
    </button>
    <button
      mat-stroked-button
      class="mx-1"
      routerLink="/notifications"
      routerLinkActive="active-button"
      [matMenuTriggerFor]="notificationsMenu">
      <mat-icon matBadgeColor="warn">notifications</mat-icon>
      <span>Notifications</span>
    </button>
    <button
      *ngIf="user.user.user_role === 'Admin'"
      mat-stroked-button
      class="mr-2"
      routerLink="/admin-panel"
      routerLinkActive="active-button">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Panel</span>
    </button>
    <button
      type="button"
      class="btn btn-outline-info d-flex flex-row align-items-center"
      style="margin: 0 !important; height: 50px"
      routerLink="/profile/{{ user.user.user_id }}"
      routerLinkActive="active-button">
      <mat-icon>person</mat-icon>
      <div class="username ml-1">
        <span style="height: 20px"
          ><b>{{
            this.user.user.first_name + " " + this.user.user.last_name
          }}</b>
        </span>
        <span style="height: 12px; font-size: 12px">
          {{ this.user.user.user_role }}
        </span>
      </div>
    </button>
    <button
      mat-stroked-button
      class="ml-2"
      routerLinkActive="active-button"
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet class="h-100"></router-outlet>

<mat-menu #notificationsMenu="matMenu" xPosition="before">
  <div
    style="
      display: flex;
      width: 250px;
      justify-content: space-between;
      align-items: center;
    ">
    <span class="mat-h3 m-3"> <b>Notifications</b> </span>
  </div>
  <mat-divider></mat-divider>
  <span mat-menu-item *ngIf="notifications.length === 0" class="mt-2"
    >No Notifications yet.</span
  >
  <ng-container *ngFor="let notification of notifications; let last = last">
    <button mat-menu-item>{{ notification?.details }}</button>
    <mat-divider class="w-100 my-1" *ngIf="!last"></mat-divider>
  </ng-container>
</mat-menu>
