<div class="container"  style="width: 550px; height: 400px;">
    <p  class="h2 font-weight-bold text-center">Users & Roles Policy</p>
    <div class="mt-4">
        <p>Every user is initially registered as a “Professional” to CareerBridge. 
            Later on, users can fill an application to acquire the following roles:
        </p>
        <div class="mt-5">
            <mat-accordion multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. Recruiter
                    </mat-panel-title>
                    <mat-panel-description>
                      Recruits professionals to fill job positions
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    Recruiters can post job positions and view the list of professionals who applied for the job.
                  </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          2. Career Expert
                      </mat-panel-title>
                      <mat-panel-description>
                        Provides career advice to professionals
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                      Career experts provide career advice to professionals.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          3. Skill Assessor
                      </mat-panel-title>
                      <mat-panel-description>
                        Rate the skills of professionals
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                        Skill assessors rate the skills of professionals.
                    </p>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="w-100 d-flex justify-content-center">
                <button mat-raised-button color="primary" class="mt-5" mat-dialog-close>Close</button>
              </div>
        </div>
    </div>
</div>
