<div class="container" style="width: 400px; height: 150px">
  <div class="h-100 v-100 d-flex flex-column">
    <div class="w-100 text-center">
      <span class="font-weight-bold" style="font-size: 20pt"
        >Assess Skill: {{ data.skill_name }}</span
      >
    </div>
    <div class="d-flex flex-row justify-content-center mt-3">
      <mat-form-field
        ngDefaultControl
        class="mr-2"
        style="width: 100px"
        appearance="outline"
        name="setting">
        <mat-label class="mr-3">Rating</mat-label>
        <mat-select [(ngModel)]="data.rating">
          <mat-option value="1"> 1 </mat-option>
          <mat-option value="2"> 2 </mat-option>
          <mat-option value="3"> 3 </mat-option>
          <mat-option value="4"> 4 </mat-option>
          <mat-option value="5"> 5 </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <button mat-raised-button class="mr-2 btn-danger" matDialogClose>
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="assessSkill()">
        Add
      </button>
    </div>
  </div>
</div>
