<div class="container" style="width: 800px; height: 625px">
  <div class="h-100 v-100 d-flex flex-column">
    <div class="w-100 text-center">
      <span class="font-weight-bold" style="font-size: 20pt"
        >Create New Ad</span
      >
    </div>
    <div class="d-flex flex-row mt-2">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="title"
        ngDefaultControl>
        <mat-label>Title</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          [(ngModel)]="data.title" />
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="company"
        ngDefaultControl>
        <mat-label>Organization Name</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          [(ngModel)]="data.organization" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="location"
        ngDefaultControl>
        <mat-label>Location</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          [(ngModel)]="data.location" />
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="domain"
        ngDefaultControl>
        <mat-label>Domain</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          [(ngModel)]="data.domain" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="mr-2 w-100"
        style="width: 300px"
        appearance="outline"
        name="setting"
        ngDefaultControl>
        <mat-label class="mr-3">Setting</mat-label>
        <mat-select [(ngModel)]="data.setting">
          <mat-option value="On-site" selected> On-site</mat-option>
          <mat-option value="Hybrid">Hybrid</mat-option>
          <mat-option value="Remote"> Remote </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="w-100"
        style="width: 300px"
        appearance="outline"
        name="type"
        ngDefaultControl>
        <mat-label class="mr-3">Type</mat-label>
        <mat-select [(ngModel)]="data.type">
          <mat-option value="Any" selected> Any </mat-option>
          <mat-option value="Internship"> Internship </mat-option>
          <mat-option value="Part-Time Job"> Part-Time Job </mat-option
          ><mat-option value="Job"> Job </mat-option>
          <mat-option value="Contract"> Contract </mat-option>
          <mat-option value="Project-based"> Project-based </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div class="d-flex flex-row align-items-center">
        <mat-label class="font-weight-bold mr-3">Pay Range</mat-label>
        <mat-form-field
          style="width: 150px; margin-bottom: -1.25em"
          appearance="outline"
          name="min_pay"
          ngDefaultControl>
          <input matInput placeholder="Min" [(ngModel)]="data.pay_range_min" />
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <mat-form-field
          style="width: 150px; margin-bottom: -1.25em"
          class="ml-2"
          appearance="outline"
          name="max_pay"
          ngDefaultControl>
          <input matInput placeholder="Max" [(ngModel)]="data.pay_range_max" />
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="mt-2">
      <span class="font-weight-bold"
        >Please fill below fields with comma seperated elements</span
      >
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="degrees"
        ngDefaultControl>
        <mat-label>Degrees Required</mat-label>
        <input matInput class="ml-3" style="width: 90%" [(ngModel)]="degrees" />
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="skills"
        ngDefaultControl>
        <mat-label>Skills Required</mat-label>
        <input matInput class="ml-3" style="width: 90%" [(ngModel)]="skills" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="desc"
        ngDefaultControl>
        <mat-label>Description</mat-label>
        <textarea
          class="w-100"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="6"
          cdkAutosizeMaxRows="6"
          [(ngModel)]="data.description"></textarea>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <button mat-raised-button color="accent" (click)="postAd()">Post</button>
    </div>
  </div>
</div>
