<div class="container" style="width: 700px; height: 525px">
  <div class="h-100 v-100 d-flex flex-column">
    <div class="w-100 text-center">
      <span class="font-weight-bold" style="font-size: 20pt"
        >New Educational Experience</span
      >
    </div>
    <div class="d-flex flex-row mt-2">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="title"
        ngDefaultControl>
        <mat-label>Title</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.experience.title" />
        formControlName="title" />
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="school_name"
        ngDefaultControl>
        <mat-label>School Name</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.school_name" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="field"
        ngDefaultControl>
        <mat-label>Field of Study</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          formControlName="title"
          [(ngModel)]="data.experience.title" />
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="grade"
        ngDefaultControl>
        <mat-label>Grade</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.grade" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="w-50"
        appearance="outline"
        name="degree"
        ngDefaultControl>
        <mat-label>Degree Name</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.degree.name" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <div class="h-100">
        <mat-form-field
          appearance="standard"
          style="width: 100%"
          name="start_date"
          ngDefaultControl>
          <mat-label>Start Date</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="data.experience.start_date"
            (click)="picker.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="ml-3">
        <mat-form-field
          appearance="standard"
          class="w-100"
          name="end_date"
          ngDefaultControl>
          <mat-label>End Date</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker2"
            [(ngModel)]="data.experience.end_date"
            (click)="picker2.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="description"
        ngDefaultControl>
        <mat-label>Description</mat-label>
        <textarea
          class="w-100"
          matInput
          cdkTextareaAutosize
          [(ngModel)]="data.experience.description"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="6"
          cdkAutosizeMaxRows="6"></textarea>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <button mat-raised-button color="accent">Add</button>
    </div>
  </div>
</div>
