<div class="mt-2 d-flex justify-content-center">
  <div
    class="w-75 card-effect"
    style="
      height: 85%;
      position: absolute;
      min-height: 600px;
      overflow-y: scroll;
    ">
    <div class="d-flex flex-column ml-5 my-3">
      <div>
        <button mat-flat-button color="accent">Back</button>
      </div>
      <mat-tab-group #tabGroup>
        <mat-tab label="Ad Description" style="min-height: 450px">
          <div class="mt-3">
            <span style="font-size: 25px" class="font-weight-bold"
              >UI/UX Designer</span
            >
            <span style="font-size: 12px" class="ml-3"
              >Posted on 25 March 2023 (22 days ago)</span
            >
            <span class="mx-3">&#183;</span>

            <span style="font-size: 12px">View Count: 152</span>
            <span class="mx-3">&#183;</span>

            <span style="font-size: 12px">Application Count: 82</span>
          </div>
          <mat-divider class="w-100 my-1"></mat-divider>
          <div class="mt-3 d-flex flex-row">
            <div class="d-flex flex-column">
              <div>
                <span style="font-size: 14px">Facebook</span>
              </div>
              <div class="mt-1">
                <span style="font-size: 12px">Menlo Park, California, USA</span>
              </div>
              <div class="mt-1">
                <span style="font-size: 12px"
                  ><strong>$15000-20000</strong></span
                >
                <span style="font-size: 12px; color: darkgray">/month</span>
              </div>
            </div>
            <div class="ml-4">
              <div class="d-flex flex-column">
                <div>
                  <span style="font-size: 12px">Software Development</span>
                </div>
                <div class="mt-1">
                  <span style="font-size: 12px">Internship Ad</span>
                </div>
                <div class="mt-1">
                  <span style="font-size: 12px">Hybrid</span>
                  <span class="mx-1">&#183;</span>

                  <span style="font-size: 12px; color: green">Open</span>
                </div>
              </div>
            </div>
            <div class="ml-4 col">
              <div class="d-flex flex-column">
                <div>
                  <span
                    style="font-size: 12px; text-decoration: underline"
                    class="font-weight-bold"
                    >Degrees Required</span
                  >
                </div>
                <div class="mt-1 d-flex flex-row" style="flex-wrap: wrap">
                  <div
                    class="bg-danger py-1 px-2 m-1"
                    style="border-radius: 10px">
                    <span class="text-light" style="font-size: 12px"
                      >Bachelor of Science</span
                    >
                  </div>
                  <div
                    class="bg-success py-1 px-2 m-1"
                    style="border-radius: 10px">
                    <span class="text-light" style="font-size: 12px"
                      >Master of Science</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="ml-4 col">
              <div class="d-flex flex-column">
                <div>
                  <span
                    style="font-size: 12px; text-decoration: underline"
                    class="font-weight-bold"
                    >Skills Required</span
                  >
                </div>
                <div class="mt-1 d-flex flex-row" style="flex-wrap: wrap">
                  <div
                    class="bg-danger py-1 px-2 m-1"
                    style="border-radius: 10px">
                    <span class="text-light" style="font-size: 12px"
                      >Analytical Thinking</span
                    >
                  </div>
                  <div
                    class="bg-success py-1 px-2 m-1"
                    style="border-radius: 10px">
                    <span class="text-light" style="font-size: 12px"
                      >Python</span
                    >
                  </div>
                  <div
                    class="bg-danger py-1 px-2 m-1"
                    style="border-radius: 10px">
                    <span class="text-light" style="font-size: 12px"
                      >Analytical Thinking</span
                    >
                  </div>
                  <div
                    class="bg-success py-1 px-2 m-1"
                    style="border-radius: 10px">
                    <span class="text-light" style="font-size: 12px"
                      >Python</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-divider class="w-100 my-1"></mat-divider>
          <div class="mt-2">
            <button mat-raised-button color="primary">Apply</button>
          </div>
          <div
            class="mt-3 d-flex flex-row align-items-center justify-content-between border mr-5">
            <div class="d-flex flex-row align-items-center ml-2 my-2">
              <div>
                <img
                  src="assets/images/avatar.png"
                  alt="placeholder"
                  style="height: 50px; width: 50px" />
              </div>
              <div class="d-flex flex-column ml-4">
                <div>
                  <span style="font-size: 15px" class="font-weight-bold"
                    >Felicia Jackson</span
                  >
                </div>
                <div>
                  <span style="font-size: 12px">Recruiter</span>
                </div>
                <div>
                  <span style="font-size: 12px">HR Manager @ Facebook</span>
                </div>
              </div>
            </div>
            <div>
              <button mat-flat-button color="primary" class="mr-2">
                Send Message
              </button>
            </div>
          </div>
          <div style="width: 100%; white-space: pre-line">
            {{ text }}{{ text }}
          </div>
          <div class="mt-3 d-flex flex-column border mr-5">
            <div class="d-flex flex-row align-items-center ml-2 my-2">
              <div>
                <img
                  src="assets/images/company.png"
                  alt="placeholder"
                  style="height: 50px; width: 50px" />
              </div>
              <div class="d-flex flex-column ml-4">
                <div>
                  <span style="font-size: 15px" class="font-weight-bold"
                    >Facebook</span
                  >
                </div>
                <div>
                  <span style="font-size: 12px">Software Development</span>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Application">
          <div class="mt-2 ml-2">
            <span> You have not applied yet</span>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
