<div class="container" style="width: 700px; height: 550px">
  <div class="h-100 v-100 d-flex flex-column">
    <div class="w-100 text-center">
      <span class="font-weight-bold" style="font-size: 20pt"
        >New Certificate</span
      >
    </div>
    <div class="d-flex flex-row mt-2">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="title"
        ngDefaultControl>
        <mat-label>Certification Name</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.certification_name" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="grade"
        ngDefaultControl>
        <mat-label>Issuer</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.issuer" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row mt-2">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="title"
        ngDefaultControl>
        <mat-label>Credential URL</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          required
          [(ngModel)]="data.credential_url" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <div class="h-100">
        <mat-form-field
          appearance="standard"
          style="width: 100%"
          name="start_date"
          ngDefaultControl>
          <mat-label>Issue Date</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="data.issue_date"
            (click)="picker.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="ml-3">
        <mat-form-field
          appearance="standard"
          class="w-100"
          name="end_date"
          ngDefaultControl>
          <mat-label>{{ expiration_date }}</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker2"
            [disabled]="is_expirable"
            [(ngModel)]="data.expiration_date"
            (click)="picker2.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row align-items-center ml-3">
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="is_expirable"
          (change)="changeExpirable()"
          >Is it expirable?</mat-checkbox
        >
      </div>
    </div>
    <div>
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="description"
        ngDefaultControl>
        <mat-label>Description</mat-label>
        <textarea
          class="w-100"
          matInput
          cdkTextareaAutosize
          [(ngModel)]="data.description"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="6"
          cdkAutosizeMaxRows="6"></textarea>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <button mat-raised-button class="mr-2 btn-danger" matDialogClose>
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="addCertification()">
        Add
      </button>
    </div>
  </div>
</div>
