<div class="container" style="width: 700px; height: 450px">
  <div class="h-100 v-100 d-flex flex-column">
    <div class="w-100 text-center">
      <span class="font-weight-bold" style="font-size: 20pt"
        >New Work Experience</span
      >
    </div>
    <div class="d-flex flex-row mt-2">
      <mat-form-field
        class="w-100 mr-2"
        appearance="outline"
        name="title"
        ngDefaultControl>
        <mat-label>Title</mat-label>
        <input
          matInput
          class="ml-3"
          style="width: 90%"
          [(ngModel)]="data.experience.title" />
      </mat-form-field>
      <mat-form-field
        ngDefaultControl
        name="company_name"
        class="w-100"
        appearance="outline"
        [(ngModel)]="data.company_name">
        <mat-label>Company Name</mat-label>
        <input matInput class="ml-3" style="width: 90%" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field
        ngDefaultControl
        class="mr-2 w-100"
        style="width: 300px"
        appearance="outline"
        name="setting">
        <mat-label class="mr-3">Setting</mat-label>
        <mat-select [(ngModel)]="data.setting">
          <mat-option value="On-site"> On-site </mat-option>
          <mat-option value="Remote"> Remote </mat-option>
          <mat-option value="Hybrid"> Hybrid </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        ngDefaultControl
        class="w-100"
        style="width: 300px"
        appearance="outline"
        name="type">
        <mat-label class="mr-3">Type</mat-label>
        <mat-select [(ngModel)]="data.type">
          <mat-option value="Internship"> Internship </mat-option>
          <mat-option value="Part-time Job"> Part-time Job </mat-option>
          <mat-option value="Job"> Job </mat-option>
          <mat-option value="Contract"> Contract </mat-option>
          <mat-option value="Project-based"> Project-based </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <div class="h-100">
        <mat-form-field
          ngDefaultControl
          appearance="standard"
          style="width: 100%"
          name="start_date">
          <mat-label>Start Date</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="data.experience.start_date"
            (click)="picker.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="ml-3">
        <mat-form-field appearance="standard" class="w-100" name="end_date">
          <mat-label>{{ end_date }}</mat-label>
          <input
            readonly
            matInput
            [disabled]="is_ongoing"
            ngDefaultControl
            [matDatepicker]="picker2"
            [(ngModel)]="data.experience.end_date"
            (click)="picker2.open()" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row align-items-center ml-3">
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="is_ongoing"
          (change)="changeOngoing()"
          >Is it ongoing?</mat-checkbox
        >
      </div>
    </div>
    <div class="mt-2">
      <mat-form-field
        class="w-100"
        appearance="outline"
        name="description"
        ngDefaultControl>
        <mat-label>Description</mat-label>
        <textarea
          class="w-100"
          matInput
          cdkTextareaAutosize
          [(ngModel)]="data.experience.description"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="6"
          cdkAutosizeMaxRows="6"></textarea>
      </mat-form-field>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <button mat-raised-button class="mr-2 btn-danger" matDialogClose>
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="addWorkExperience()">
        Add
      </button>
    </div>
  </div>
</div>
