<div class="mt-2 d-flex justify-content-center">
  <div
    class="w-75 card-effect"
    style="
      height: 85%;
      position: absolute;
      min-height: 600px;
      overflow-y: scroll;
    ">
    <div class="d-flex flex-column mb-4">
      <div
        class="mx-4 mt-4 d-flex flex-row text-light text-center justify-content-around">
        <div class="p-3 bg-info" style="border-radius: 15px">
          <div>
            <span style="font-size: 14pt">Total Number of Users:</span>
          </div>
          <div class="h-100 mt-1">
            <span style="font-size: 14pt" class="h-100">
              {{ totalNumber?.total_number_of_users }}</span
            >
          </div>
        </div>
        <div class="ml-3 p-3 bg-info" style="border-radius: 15px">
          <div>
            <span style="font-size: 14pt">Total Number of Ads:</span>
          </div>
          <div class="h-100 mt-1">
            <span style="font-size: 14pt" class="h-100">
              {{ totalNumber?.total_number_of_ads }}</span
            >
          </div>
        </div>
        <div class="ml-3 p-3 bg-info" style="border-radius: 15px">
          <div>
            <span style="font-size: 14pt">Total Number of Applications:</span>
          </div>
          <div class="h-100 mt-1">
            <span style="font-size: 14pt" class="h-100">
              {{ totalNumber?.total_number_of_applications }}</span
            >
          </div>
        </div>
        <div class="ml-3 p-3 bg-info" style="border-radius: 15px">
          <div>
            <span style="font-size: 14pt">Total Number of Views:</span>
          </div>
          <div class="h-100 mt-1">
            <span style="font-size: 14pt" class="h-100">
              {{ totalNumber?.total_number_of_views }}</span
            >
          </div>
        </div>
      </div>
      <mat-divider class="w-100 my-4"> </mat-divider>
      <span class="text-center" style="font-size: 14pt;">Number of Users in Each Role</span>
      <div class="h-100 d-flex justify-content-center">
        <table
          mat-table
          #roleCountTable
          [dataSource]="roleCountSource"
          matSort
          class="mat-elevation-z8">
          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Role">
              Role
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.role }}
            </td>
          </ng-container>

          <!-- Count Column -->
          <ng-container matColumnDef="count">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Count">
              Count
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.count }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="roleCountDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: roleCountDisplayedColumns"></tr>
        </table>
      </div>
      <mat-divider class="w-100 my-4"> </mat-divider>
      <div class="h-100 d-flex justify-content-center flex-column">
        <div class="text-center h-100">
          <span style="font-size: 14pt"
            >Highest Number of Applications For Each Domain</span
          >
        </div>

        <div class="d-flex justify-content-center">
          <table
            mat-table
            #domainApplicationTable
            [dataSource]="domainApplicationSource"
            matSort
            class="mat-elevation-z8">
            <!-- Domain Column -->
            <ng-container matColumnDef="domain">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Role">
                Domain
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.domain }}
              </td>
            </ng-container>

            <!-- Ad Title Column -->
            <ng-container matColumnDef="ad_title">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Ad Title">
                Advertisement Title
              </th>
              <td mat-cell *matCellDef="let element">{{ element.ad_title }}</td>
            </ng-container>

            <!-- Organization -->
            <ng-container matColumnDef="organization">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Organization">
                Organization
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.organization }}
              </td>
            </ng-container>

            <!-- Application Count Column -->
            <ng-container matColumnDef="application_count">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Application Count">
                Application Count
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                {{ element.application_count }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="domainApplicationDisplayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: domainApplicationDisplayedColumns
              "></tr>
          </table>
        </div>
      </div>
      <mat-divider class="w-100 my-4"> </mat-divider>
      <span class="text-center" style="font-size: 14pt;">Averages of Skill Ratings For Each Skill</span>
      <div class="h-100 d-flex justify-content-center">
        <table
          mat-table
          #skillAverageRatingTable
          [dataSource]="skillAverageRatingSource"
          matSort
          class="mat-elevation-z8">
          <!-- Skill Column -->
          <ng-container matColumnDef="skill">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Role">
              Skill
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.skill }}
            </td>
          </ng-container>

          <!-- Average Column -->
          <ng-container matColumnDef="average_rating">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Average Rating">
              Average Rating
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.average_rating }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="skillAverageRatingDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: skillAverageRatingDisplayedColumns
            "></tr>
        </table>
      </div>
      <mat-divider class="w-100 my-4"> </mat-divider>
      <div class="d-flex justify-content-center flex-column mb-2 text-center">
        <span style="font-size: 14pt"
          >The Least Published Ad Type For a Time Interval => {{ ad_type }}:
          {{ ad_type_count }} times</span
        >
      </div>
      <mat-divider class="w-100 my-4"> </mat-divider>
      <span class="text-center" style="font-size: 14pt;">Average Number of Ad Views For Each Company</span>
      <div class="h-100 d-flex justify-content-center">
        <table
          mat-table
          #companyAverageAdViewTable
          [dataSource]="companyAverageAdViewSource"
          matSort
          class="mat-elevation-z8">
          <!-- Skill Column -->
          <ng-container matColumnDef="company">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Company">
              Company
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.company }}
            </td>
          </ng-container>

          <!-- Average Column -->
          <ng-container matColumnDef="average_ad_view">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Average Rating">
              Average Ad view
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.average_ad_view }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="companyAverageAdViewDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: companyAverageAdViewDisplayedColumns
            "></tr>
        </table>
      </div>
      <mat-divider class="w-100 my-4"> </mat-divider>
      <span class="text-center" style="font-size: 14pt;">Average Minimum and Maximum Pay For Each Company</span>
      <div class="h-100 d-flex justify-content-center">
        <table
          mat-table
          #companyMaxMinPayTable
          [dataSource]="companyMaxMinPaySource"
          matSort
          class="mat-elevation-z8">
          <!-- Skill Column -->
          <ng-container matColumnDef="company">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Company">
              Company
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.company }}
            </td>
          </ng-container>

          <!-- Min Pay Column -->
          <ng-container matColumnDef="min_pay">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Min Pay">
              Min Pay
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.min_pay }}$
            </td>
          </ng-container>

          <!-- Max Pay Column -->
          <ng-container matColumnDef="max_pay">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Max Pay">
              Max Pay
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.max_pay }}$
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="companyMaxMinPayDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: companyMaxMinPayDisplayedColumns
            "></tr>
        </table>
      </div>
    </div>
  </div>
</div>
